body {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    user-select: none;
    box-sizing: border-box;
    background: #212633;
}

#root {
    display: grid;
    grid-template-rows: 1fr;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-rows: 10% 50% 40%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 30px;
    min-width: 200px;
    width: 450px;
    max-width: 700px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    background: #313a49;
    position: relative;
}

main h1 {
    font-size: 24px;
    font-weight: lighter;
    color: #4ddb99;
}

main button {
    position: absolute;
    bottom: -45px;
    width: 90px;
    left: 0;
    right: 0;
    margin: auto;
    height: 90px;
    background: #4ddb99;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    border: 0;
    -webkit-transition: .5s;
    cursor: pointer;
}

main button:hover {
    box-shadow: 0 0 50px #4ddb99;
    transform: scale(1.1);
    transition: 1s;
}


main button:disabled {
    opacity: .5;
    cursor: default;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0);
    transform: scale(1);
}


main button img {
    width: 40px;
    height: 40px;
}


main q {
    line-height: 100%;
    font-size: 28px;
    font-family: 'Manrope', serif;
    font-weight: 800;
    color: white;
}

.attribution{
    position: absolute;
    bottom: 10px;
    display: flex;
    width: fit-content;
    font-size: 16px;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
}
.attribution *{
    margin: auto 5px;
}

.attribution a{
    color: #4ddb99;
    font-weight:900;
    text-decoration: none;
}

@media (max-width: 960px) {
    main {
        max-width: 400px;
    }

    main button{
        width: 70px;
        bottom: -35px;
        height: 70px;
    }
    main button img{
        width: 30px;
        height: 30px;
    }
}
